extends layout

block content
  h1= title
  body 
    div.column 
      h2 Blog Posts:
      div.scrollBox
        ul 
          for txt in data
            li= txt.blog_id + " - " + txt.blog_txt

      h2 Clear All Blogs - Take caution!
      form(action="/clear" method="POST") 
        div 
          button Clear the blog posts? 


    div.column 
      div.delete
        h2 Delete Blog:
          h3 Delete Post.
          form(action="/delete" method="POST") 
            div  
              label(for="blog") Delete Post 
              //- adds newLine - br
              br
              input(name="blog" id="dblog" value="1")

            div 
              button Remove Post
      
      div.edit
        h2 Edit Blog:

      div.create
        h2 Create Blog:
          h3 Add Post!
          form(action="/add" method="POST") 
            div  
              label(for="blog") Add Post
              //- adds newLine - br
              br
              input(name="blog" id="ablog" value="apple")
            
            div 
              button Publish Post!


 