extends layout

block content
  //- Blogging posts
  h1 = title
  body 
    div.column
   
      img(src="images/deathstar.png" class="bounce" style='height:50px;') 
      h2 Blog Posts:
      //- Creates the scroll of blog posts
      div.scrollBox
        ul 
          //- Adds the text from the database to the homepage
          each txt in data
            li= '"' + txt.blog_title + '"'+ " - " + txt.blog_author + "\n"+ "===================================================="+ "\n\n" + txt.blog_txt + "\n" + "~" + txt.blog_id + "~"

      //- Clear button stuff
      h2 Clear All Blogs - Take caution!
      form(action="/clear" method="POST") 
        div 
          button Clear the blog posts? 
        div.bot
          img(src="images/r2d2.webp" class="spin" style='height:300px;')


    div.column 
      div.delete
        h2 Remove Blog
          //- Delete posts
          form(action="/delete" method="POST") 
            div  
              label(for="blog") Delete Post: 
              input(name="dblog" id="dblog" placeholder="Blog ~entry~ to delete...")
            
            div 
              button Remove Post
      
      div.edit
        h2 Edit Blog
            //- Edit the post
            form(action="/edit" method="POST") 
              div  
                label(for="blog") Edit Post: 
                input(name="eblog" id="eblog" placeholder="Blog ~entry~ to edit...")
                //- adds newLine - br
                br
                label(for="blog") Add Text:
                
                //- adds newLine - br
                br
                textarea(name="etblog" id="etblog" cols="40" rows="5" placeholder="Write update edit...")

              div 
                button Edit Post



      div.create
        h2 Create Blog
          form(action="/add" method="POST") 
            div  
              label(for="blog") Title: 
              input(name="tblog" id="tblog" placeholder="Title name...")
              
              //- adds newLine - br
              br

              label(for="blog") Author: 
              input(name="aublog" id="aublog" placeholder="Your name...")

              //- adds newLine - br
              br

              label(for="blog") Add Text:
              //- adds newLine - br
              br
              textarea(name="ablog" id="ablog" cols="40" rows="5" placeholder="Write update...")
              
            div 
              button Publish Post!