body {
  font: 25px Arial;
  padding-left: 50px;
}

h1 {
  font-size: 70px;
}

.scrollBox {
  height:600px;
  width:650px;
  border:5px solid black;
  overflow:auto;
}

.column {
  float: left;
  width: 45%;

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

input {
  width: 400px;
  height: 150px;
}

#dblog {
  height: 50px;
  font-size: 25px;
}