body {
  font: 25px Arial;
  padding-left: 50px;
}

h1 {
  padding-top: 10px;
  font-size: 70px;
  margin: 0px;
}

h2 {
  font-size: 40px;
  /* text-decoration: underline; */
}

.scrollBox {
  padding-left: 18px;
  height:600px;
  width:650px;
  border:5px solid black;
  overflow:auto;
}

.column {
  float: left;
  width: 45%;

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

input {
  width: 400px;
  height: 150px;
}

label {
  font-size: 25px;
}

#dblog {
  height: 30px;
  font-size: 25px;
  width: 275px;
}

#eblog {
  height: 30px;
  font-size: 25px;
  width: 275px;
}

#etblog {
  width: 400px;
  height: 130px;
  font-size: 15px;
  font-family: Arial;
}

#tblog {
  height: 30px;
  font-size: 25px;
}

#aublog {
  height: 30px;
  font-size: 25px;
}

#ablog {
  width: 400px;
  height: 130px;
  font-size: 15px;
  font-family: Arial;
}

ul {
  
  list-style-type: none;
  padding: 0;
  border: 6px solid black;
  width: 600px;
}

ul li {
  padding: 50px 18px;
  border-bottom: 5px solid black;
}

ul li:last-child {
  border-bottom: none
}
